div.search-part {
    margin: auto;
    width: 800px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    text-align: center;
}

div.search-part h2 {
    font-style: italic;
    font-weight: bold;
    color: #353434;
}

div.search-part form.search-form input.q {
    padding: .5rem .5rem .5rem 1rem;
    border: 1px solid #e7e8ec;
    width: 270px;
    border-radius: 2rem;
}

div.search-part form.search-form label {
    color: #353434;
}

div.search-part form.search-form input.date-start, div.search-part form.search-form input.date-end {
    padding: .5rem .5rem .5rem 1rem;
    border: 1px solid #e7e8ec;
    width: 90px;
}

div.search-part form.search-form input.date-start {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

div.search-part form.search-form input.date-end {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

div.search-part form.search-form input:focus, div.search-part form.search-form select:focus {
    outline: none;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}

div.search-part form.search-form button {
    padding: .5rem;
    border: 1px solid #e7e8ec;
    border-radius: 2rem;
    background-image: url("/app/assets/images/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    color: transparent;
    background-color: #969595;
}

div.search-part form.search-form button:focus {
    outline: none;
    color: transparent;
}

div.search-part form.search-form button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    color: transparent;
}

div.search-part form.search-form select.sort {
    padding: .5rem .5rem .5rem 1rem;
    border: 1px solid #e7e8ec;
    width: 160px;
    border-radius: 2rem;
}

div.search-result {
    margin: auto;
    width: 800px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

div.loadding {
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    background-color: #fff;
    padding: 1rem;
}

div.search-result div.article-part {
    border-bottom: 1px solid #e7e8ec;
    padding: 1rem;
    height: 150px;
}

div.search-result div.search-query-result {
    padding: 0 1rem 1rem 1rem;
    font-style: italic;
    font-family: sans-serif;
    font-size: 0.7rem;
    color: #999;
}

div.search-result div.article-part:last-child {
    border-bottom: 0;
}

div.search-result div.article-part div.main-block {
    float: left;
    width: 600px;
}

div.search-result div.article-part div.main-block div.title a{
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #000;
    letter-spacing: -0.5px;
    text-decoration: none;
    font-weight: bold;
}

div.search-result div.article-part div.main-block div.title a:hover{
    text-decoration: underline;
}

div.search-result div.article-part div.main-block div.snippet{
    margin-top: 1rem;
    font-size: 0.9rem;
    font-family: sans-serif;
    color: #333;
}

div.search-result div.article-part div.main-block div.section-name {
    color: #222;
    font-family: sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

div.search-result div.article-part div.main-block div.pub-date {
    color: #999;
    font-family: sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

div.search-result div.article-part div.main-block div.rubric-label-dot {
    margin: 0.1rem 0.3rem 0.3rem 0;
    float: left;
    background-color: #222;
    top: 2px;
    left: 1px;
    width: 8px;
    height: 8px;
    content: '';
    -webkit-transform: scale(.95);
    transform: scale(.95);
    border-radius: 50%;
}

div.search-result div.article-part img.preview{
    width: 120px;
    float: right;
}

div.show-more {
    margin: auto;
    width: 800px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    text-align: center;
}

div.show-more a{
    color: #000;
    text-decoration: none;
}

div.show-more a:hover{
    text-decoration: underline;
}
